img{
    width: 200px;
    height: 200px;
    /* opacity: 0.5;
    border-radius: 200px; */
}
 h1{
  color: red;
  font-size: 40px;  
  font-weight: 600;
 }
 p{
    font-size: 20px;
    color: brown;
    font-weight: 600;
 }
 span{
    color: green;
 }
 button{
    background: red;
    border: none;
    color: white;
    padding: 10px 20px;
 }
 .h1-text{
    color: blueviolet;
 }
 #h1-txt{
    color: aqua;
 }
 .h1 p{
    color: yellow;
 }
